#legion-score {
  position: fixed;
  width: 150px;
  top: 70px;
  right: 10px;
  border: 2px solid #000;
  text-align: center;
  padding: 3px;
}

#legion-score .legion-instructions {
  color: #888;
  font-size: 10px;
}

#legion-score .legion-points {
  font-size: 30px;
  font-weight: bold;
}

#legion-submit-div {
  clear: both;
  text-align: center;
  padding: 5px;
}

#legion-submit-div input {
  font-size: 1.5em;
  border: 1px solid #DDD;
  border-radius: 2px;
  padding: .4em;
  background: #EEE;
}

.legion-score-display-r {
  z-index: 100;
  background: none !important;
  border: none !important;
  color: #F00 !important;
  font-weight: bold;
  overflow: hidden;
  font-size: 1.2em;
}

.legion-score-display-a {
  z-index: 100;
  background: none !important;
  border: none !important;
  color: #FF9999 !important;
  font-weight: bold;
  overflow: hidden;
  font-size: 1.2em;
}
