#numOnlineText{
	text-align: center;
	font-size: 100pt;
}

#fireButtonsGroup{
	text-align: center;
}

// block stuff like this is often put into a "reset.css" file which comes before the rest of css
body{
	padding-left:20px;
}

#hitsList{
    overflow: scroll;
    overflow-x: hidden;
    height: 21em;
}

// delete unused code :)
